<!DOCTYPE html>
<html>
<body>

<h1>App Node Variables y Typos de Datos</h1>

<p>Usando Node JS</p>

<p>Nombre:<strong><%= name%></strong><p/>
<p>Edad:<strong><%= age%></strong><p/>
<p>Profesion:<strong><%= profession%></strong><p/>
<p>Es Estudiante:<strong><%= isStudent%></strong><p/>
<p>Numeros Favoritos:<strong><%= favNumbers%></strong><p/>
<p>Estudiante:<strong><%= person.firstName%></strong>,<strong><%= person.lastName%></strong>,<strong><%= person.age%></strong><p/>


</body>
</html>
